<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>
        错误
    </title>
</head>

<body>
    <h1 style="display: block;width: 400px;height: 200px;margin: 100px auto;text-align: center;line-height: 200px;">
        哇!页面出错啦~~~
    </h1>
</body>

</html>





